@import "./styles/variables/breakpoints";

//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

//colors
$colorMain: #2c3b5a;
$colorMainShadeOne: #5272B2;
$colorMainTwo: #CBB492;
$mainHeader: #283B62;
$paragraph: #A0A09F;
$sectionTop: #1e3053;
$sectionBottom: #293b5e;


